@model AspNetCoreCrud.Models.Motorista


            <div class="form-group">
                <label asp-for="Caminhao.Marca" class="control-label"></label>
                <input asp-for="Caminhao.Marca" class="form-control" />
                <span asp-validation-for="Caminhao.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caminhao.Modelo" class="control-label"></label>
                <input asp-for="Caminhao.Modelo" class="form-control" />
                <span asp-validation-for="Caminhao.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caminhao.Placa" class="control-label"></label>
                <input asp-for="Caminhao.Placa" class="form-control" />
                <span asp-validation-for="Caminhao.Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caminhao.Eixo" class="control-label"></label>
                <input asp-for="Caminhao.Eixo" class="form-control" />
                <span asp-validation-for="Caminhao.Eixo" class="text-danger"></span>
            </div>
           
